.page{
	position: relative;
	width: 95%;
	max-width: $pageWidth;
	margin: 0 auto;
	padding-top: 2rem;

	&__section{
		padding: 2rem 0;
		position: relative;

		.section__title{
			text-align: center;
			margin-bottom: 2rem;
			font-size: responsive 1rem 2.25rem;
			font-range: 320px 1280px;
		}

		h3{
			font-size: responsive .95rem 2rem;
			font-range: 320px 1280px;	
		}

		.section__title, h3{ color: $navy; }
	}

	&__row{
		margin: 2rem 0 4rem;
	}
}