/*
*
* Base Colors
*
*/

$white: #fff;
$lightGrey: #ccc;

$lightBlue: #2699d6;
$navy: #2f4a74;

$heart: #e42931;



/*
*
* Theme Colors
*
*/

$pageBg: #fff;
$pageHeaderBg: #fafbfc;
$footerBg: #e1e2e3;